{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe {% endblock %}

{% block body %}


<div class="col-6 p-4 m-3 mx-auto">

    <h1>Modification du mot de passe</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}

</div>


{% endblock %}